<div class="card card-statistic-1">
  <div class="card-icon bg-<%= bg%>">
    <i class="<%= icon%>"></i>
  </div>
  <div class="card-wrap">
    <div class="card-header">
      <h4>
        <%= title %>
      </h4>
    </div>
    <div class="card-body"><%= total %></div>
  </div>
</div>
