<% content_for :title, "Index makanan" %>
<div class="section-header">
  <%# Page Title %>
  <h1>Index Makanans</h1>
  <%# Page Breadcrumb %>
</div>
<div class="section-body">
  <h2 class="section-title">Makanans</h2>
  <p class="section-lead">Example of some Bootstrap table components.</p>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Makanans Table</h4>
          <div class="card-header-form">
            <div class="input-group">
              <%= link_to "New makanan", new_makanan_path , class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <th class="p-0 text-center">
                    Name
                  </th>
                  <th class="p-0 text-center">
                    Halal
                  </th>
                  <th class="p-0 text-center">
                    Price
                  </th>
                  <th class="p-0 text-center">
                    Image
                  </th>
                  <th class="p-0 text-center">Action</th>
                </tr>
                <% @makanans.each do |makanan| %>
                  <%= render makanan %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>