<% if notice.present? || alert.present? %>
  <% alert_type = alert.present? ? 'danger' : 'success' %>
  <div id="alert" class="alert alert-<%= alert_type %> alert-dismissible show fade" style="transition: opacity 1s ease-in-out; opacity: 1;">
    <div class="alert-body">
      <button id="closeButton" class="close" data-dismiss="alert">
        <span>×</span>
      </button>
      <%= notice || alert %>
    </div>
  </div>
  <script>
    setTimeout(function() {
      var alertDiv = document.getElementById('alert');
      alertDiv.style.opacity = '0';
      setTimeout(function() {
        alertDiv.remove();
      }, 1000);
    }, 1500);
  </script>
<% end %>
