<% content_for :title, "New Book" %>

<div class="section-header">
  <%# Page Title %>
  <h1>New Book</h1>
  <%# Page Breadcrumb %>
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
    <div class="breadcrumb-item"><a href="#">Components</a></div>
    <div class="breadcrumb-item">New Book</div>
  </div>
</div>
<div class="section-body">
  <h2 class="section-title">New Book Form </h2>
  <p class="section-lead">
    Form validation using default from Bootstrap 4
  </p>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <%= render "form", book: @book %>
      </div>
    </div>
  </div>
    <%= link_to "Back to Books", books_path, class: "btn btn-outline-warning" %>
</div>