<%# frozen_string_literal: true %>
<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
<div class="card-header">
  <h4><%= singular_table_name %> Form</h4>
</div>
<div class="card-body">
  <%%= f.error_notification %>
  <%%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%- attributes.each do |attribute| -%>
      <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
    <%- end -%>
  </div>
  <div class="form-actions card-footer text-right">
    <%%= f.button :submit, class: "btn btn-primary" %>
  </div>
</div>
<%% end %>
