<% content_for :title, "Edit Role" %>

<div class="section-header">
  <%# Page Title %>
  <h1>Edit Role</h1>
  
  <div class="section-header-breadcrumb">
    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
    <div class="breadcrumb-item"><a href="#">Components</a></div>
    <div class="breadcrumb-item">Edit Role</div>
  </div>
</div>
<div class="section-body">
  <h2 class="section-title">Edit Role Form </h2>
  <p class="section-lead">
    Form validation using default from Bootstrap 4
  </p>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <%= render "form", role: @role %>
      </div>
    </div>
  </div>
  <%= link_to "Back to Roles", roles_path, class: "btn btn-outline-warning" %>
</div>