<footer class="main-footer">
  <div class="footer-left">
    Copyright &copy; 2024
    <div class="bullet"></div>
    By <a href="https://github.com/Anjasfedo/" target="_blank">Anjasfedo</a>
  </div>
</footer>